<div class="row">

  <section class="main col-md-9">
    <article>
      <h2>About</h2>
      <p>I'm studying JavaScript and HTML</p>
          <p>I'm interested in playing games</p>
          <p>My goal is to be a game developer</p>
          <p>:D</p>
    </article>
  </section>
  <aside class="col-md-3">
    <h2>Coming Soon</h2>
    <p>Stay tuned for future updates...!</p>
  </aside>
</div>